@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    width: 100%;
  }
  
  td,
  th {
    /* padding: 10px; */
    text-align: left;
    margin: 0;
  
  }
  
  th:after,
  th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }
  
  
  th:after {
    bottom: -1px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.8);
    opacity: 0.4;
  }
  
  th {
    position: sticky;
    top: 0;
    color: white;
    background-color: white;
    padding: 16px 0;
  }

  ::-webkit-scrollbar {
    width: 6px;
    /* Width of the scrollbar */
  }
  
  /* Customize the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners of the thumb */
  }